@import url("https://fonts.googleapis.com/css?family=Inter");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(
    105.05deg,
    #010c10 10.85%,
    #061d1b 67.36%,
    #141311 128.79%
  );
}

a {
  color: inherit;
  text-decoration: none;
}

.landing {
  background: url("../public/Circles.svg");
  position: relative;
  z-index: 1;
}

.landing-page-left {
  position: relative;
  z-index: 1;
}
.landing-page-left::before {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../public/Mesh.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
}
.service-section {
  background: #ffffff;
}
.navbar-theme h1 {
  color: #fff;
}


.container {
  height: 2000px;
  position: relative;
}
.background {
  background-image: url('/public/Number.svg');
  background-size: cover;
  width: 100%;
  height: 100%;
}
.rotate {
  animation: rotateBackground 2s linear;
}
@keyframes rotateBackground {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}